html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2CBBD;
  color: #733934;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background: #6092A6;
  color: white;
  border: 3px solid #F2CBBD;
  border-radius: 15px;
  margin: 10px;
  outline: none;
}

#wrapper {
  background: #F2CBBD;
}

header {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  background: #733934;

  .counter {
    font-size: 2rem;;
  }

  h1 {
    a {
      color: #F2CBBD;
      text-decoration: none;
    }
  }

  > * {
    align-self: center;
    color: white;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

nav {

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;

      a {
        display: inline-block;
        color: #F2CBBD;
        padding: 30px;

        &.active {
          font-weight: 700;
        }
      }
    }
  }
}

.wrapper {
  height: 100vh;
}
